admin:
  access_log_path: /dev/null
  address:
    socket_address:
      address: {{ .ENVOY_ADMIN_ADDRESS }}
      port_value: {{ .ENVOY_ADMIN_PORT }}
static_resources:
  clusters:
  - name: upstream
    type: STRICT_DNS
    connect_timeout: 10s
    lb_policy: ROUND_ROBIN
    protocol_selection: USE_CONFIGURED_PROTOCOL
    http2_protocol_options: {}
    load_assignment:
      cluster_name: upstream
      endpoints:
        - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: {{ .ENVOY_UPSTREAM_ADDRESS }}
                    port_value: {{ .ENVOY_UPSTREAM_PORT }}
  - name: guardian
    type: STRICT_DNS
    connect_timeout: 1s
    lb_policy: ROUND_ROBIN
    protocol_selection: USE_CONFIGURED_PROTOCOL
    http2_protocol_options: {}
    load_assignment:
      cluster_name: guardian
      endpoints:
        - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: {{ .ENVOY_RATELIMIT_ADDRESS }}
                    port_value: {{ .ENVOY_RATELIMIT_PORT }}
  listeners:
  - address:
      socket_address:
        address: {{ .ENVOY_LISTEN_ADDRESS }}
        port_value: {{ .ENVOY_LISTEN_PORT }}
    filter_chains:
    - filters:
      - name: envoy.http_connection_manager
        config:
          use_remote_address: false
          xff_num_trusted_hops: {{ .ENVOY_XFF_TRUSTED_HOPS }}
          codec_type: auto
          stat_prefix: ingress_http
          http_filters:
          - name: envoy.health_check
            config:
              pass_through_mode: false
          - name: envoy.rate_limit
            config:
              domain: rl
              request_type: both # apply to both internal and external requests
              failure_mode_deny: false
              stage: 0
              rate_limit_service:
                grpc_service:
                  envoy_grpc:
                    cluster_name: guardian
          - name: envoy.router
            config: {}
          route_config:
            name: local_route
            virtual_hosts:
            - name: local_service
              domains:
                - "*"
              routes:
                - match:
                      prefix: "/"
                  route:
                    cluster: upstream
                    rate_limits:
                      - actions:
                        - remote_address: {}
                        - request_headers:
                            header_name: "authority"
                            descriptor_key: "authority"
                        - request_headers:
                            header_name: "method"
                            descriptor_key: "method"
                        - request_headers:
                            header_name: "path"
                            descriptor_key: "path"
                        - request_headers:
                            header_name: "x-forwarded-for"
                            descriptor_key: "header.x-forwarded-for"
